.gradle
local.properties
.idea
*.iml
build
.DS_Store
.buckconfig.local
.okbuck
BUCK
.buckd
buck-out
profile-out*
gradle-user-home
**/src/
!**/src/*/AndroidManifest.xml
!gradle/SourceTemplate/app/src
!gradle/SourceTemplate/java-lib/src
