sudo: true

language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-28.0.0
    - android-28
    - extra-google-google_play_services
    - extra-android-m2repository
    - extra-google-m2repository  

before_script:
  - mkdir -p $ANDROID_HOME/licenses
  - echo $android_sdk_license > $ANDROID_HOME/licenses/android-sdk-license
  - echo $android_sdk_preview_license > $ANDROID_HOME/licenses/android-sdk-preview-license

env:
  - BUILD_COMMAND="./buildWithBuck"
  - BUILD_COMMAND="./buildWithGradle"

script:
  - exec "$BUILD_COMMAND"

notifications:
  email: false

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/modules-2/
    - $HOME/.gradle/wrapper/